<div class="form-container" *ngIf="deslindeLegalAEditar">
  <h2 class="form-title">Editar Deslinde Legal</h2>
  <form (ngSubmit)="actualizarDeslindeLegal()" class="form-edit">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input
        type="text"
        id="titulo"
        [(ngModel)]="deslindeLegalAEditar.titulo"
        name="titulo"
        required
        placeholder="Ingresa el título del deslinde legal"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="contenido">Contenido</label>
      <textarea
        id="contenido"
        [(ngModel)]="deslindeLegalAEditar.contenido"
        name="contenido"
        required
        placeholder="Ingresa el contenido del deslinde legal"
        class="form-control"
      ></textarea>
      <div *ngIf="noSpecialCharacters({ value: deslindeLegalAEditar.contenido })?.invalidCharacters" class="error">
        El contenido no debe contener caracteres < o >.
      </div>
    </div>

    <div class="form-group">
      <label for="fechaVigencia">Vigencia</label>
      <input
        type="date"
        id="fechaVigencia"
        name="fechaVigencia"
        [(ngModel)]="deslindeLegalAEditar.fechaVigencia"
        required
        #vigenciaInput="ngModel"
        class="form-control"
      />
      <div *ngIf="vigenciaInput.invalid && vigenciaInput.touched" class="error">
        La vigencia es requerida.
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Actualizar Deslinde Legal</button>
      <button type="button" (click)="cancelarEdicion()" class="btn btn-secondary">Cancelar</button>
    </div>
  </form>
</div>
