.container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  background-color: var(--style-navbar-second);
  border: 2px var(--bg-color-card) solid;
  border-radius: 5px  ;
  display: flex;
  overflow: hidden;
  margin: 0;
}


.card {
  display: flex;
  flex-direction: row;
  width: 100%;
}
label::after {
  content: "*";
  color: red;
}

.illustration {
  flex: 1;
  background: var(--blur-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-fit: cover;
}

.form-container {
  flex: 1;
  padding: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

h1 {
  font-size: 20px;
  margin-bottom: 8px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #6a6f73;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.btn {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register {
  background-color: #6f4dfd;
  color: var(--color-text);
}

.register:hover {
  background-color: #5b3ed1;
}

.signin {
  background-color: transparent;
  color: #6f4dfd;
  border: 2px solid #6f4dfd;
}

.signin:hover {
  background-color: #6f4dfd;
  color: var(--color-text);
}

.terms {
  font-size: 12px;
  color: #6a6f73;
}

.terms a {
  color: #6f4dfd;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.social-links a {
  color: #6f4dfd;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

.error-text {
  color: red;
}

//

.dialog-content {
  text-align: center;
  background-color: var(--blur-bg);
  // border-radius: 20px; // Fondo redondeado del contenido
}

.pi {
  font-size: 3rem;
  color: #00dd76;
  padding: 20px;

  border-radius: 50%;
  background-color: rgb(167, 252, 191);
}

h1,
h3 {
  margin: 10px 0;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px; // Espacio entre botones
  margin-top: 15px;
}

:host ::ng-deep .p-dialog-header {
  text-align: center;
}

//

.p-inputotp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.p-dialog-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin: auto;
}
