<div class="ui active dimmer fullscreen" *ngIf="isLoading">
  <div class="ui massive text loader">Loading</div>
</div>

<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [closable]="true"
  [style]="{ 'background-color': 'var(--blur-bg)', 'border-radius': '10px', 'width': '50vw', 'padding': '20px' }"
  header="Opciones de verificación"
>
  <div class="dialog-content">
    <i class="pi pi-lock"></i>
    <h1><strong>Opciones de verificación</strong></h1>
    <h3>¿Cómo deseas obtener el código?</h3>

    <div class="group">
      <button
        pButton
        type="button"
        label="Enviar por WhatsApp"
        class="p-button-success"
        (click)="generateCode('whatsapp')"
      ></button>

      <button
        pButton
        type="button"
        label="Enviar por Gmail"
        class="p-button-secondary"
        (click)="generateCode('gmail')"
      ></button>
    </div>
  </div>
</p-dialog>

<!-- Modal Gmail -->
<p-dialog
  [(visible)]="displayGmailModal"
  [modal]="true"
  [closable]="true"
  [style]="{'background-color': 'var(--blur-bg)'}"
  header="Verificación por email"
>
  <div class="dialog-content">
    <i class="pi pi-envelope verification-icon"></i>
    <h2>Verificación por email</h2>
    <p>
      Hemos enviado un número de verificación a tu correo
      <strong> {{personalDataForm.get('email')?.value}}</strong>. Introduce el
      código en el recuadro inferior.
    </p>

    <form [formGroup]="otpForm">
      <div class="group">
        <p-inputOtp formControlName="otpCode" name="otpCode"></p-inputOtp>
        <button
          pButton
          type="submit"
          label="Enviar Código"
          class="p-button-primary"
          [disabled]="otpForm.invalid"
          (click)="submitOtp()"
        ></button>
      </div>
    </form>

    <p class="resend-text">
      ¿No has recibido el código?<!-- Primer enlace: Reenviar código -->
      <a class="resend-link" (click)="resendCodeGmail()"> Reenviar</a>
    </p>

    <!-- Segundo enlace: Probar método diferente -->
    <a class="resend-link" (click)="resendCodeByOtherMethod()"
      >Probar de otra manera</a
    >
  </div>
</p-dialog>

<!-- Modal WhatsApp -->
<p-dialog
  [(visible)]="displayWhatsappModal"
  [modal]="true"
  [closable]="true"
  [style]="{'background-color': 'var(--blur-bg)'}"
  header="Verificación por WhatsApp"
>
  <div class="dialog-content">
    <i class="pi pi-whatsapp verification-icon"></i>
    <h2>Verificación por WhatsApp</h2>
    <p>
      Hemos enviado un número de verificación a tu WhatsApp
      {{personalDataForm.get('telefono')?.value}}. Introduce el código en el
      recuadro inferior.
    </p>

    <form [formGroup]="otpWhatsappForm">
      <div class="group">
        <p-inputOtp formControlName="otpCode" name="otpCode"></p-inputOtp>
        <button
          pButton
          type="submit"
          label="Enviar Código"
          class="p-button-primary"
          [disabled]="otpWhatsappForm.invalid"
          (click)="submitOtpWhatsapp()"
        ></button>
      </div>
    </form>

    <p class="resend-text">
      ¿No has recibido el código?<!-- Primer enlace: Reenviar código -->
      <a class="resend-link" (click)="resendCodeWhatsapp()"> Reenviar</a>
    </p>

    <!-- Segundo enlace: Probar método diferente -->
    <a class="resend-link" (click)="resendCodeByOtherMethod()"
      >Probar de otra manera</a
    >
  </div>
</p-dialog>

<!-- !********************************************************** -->
<div class="container">
  <div class="card">
    <div class="illustration">
      <img
        src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730134285/images-AR/ztq3dpdi1uptc9xxwnjo.jpg"
        alt="Illustration"
      />
    </div>
    <div class="form-container">
      <form
        *ngIf="currentStep === 1"
        [formGroup]="personalDataForm"
        (ngSubmit)="goToNextStep()"
      >
        <h1>Crear una cuenta</h1>

        <!-- Campo de Nombre -->
        <div class="form-group">
          <label for="|">Nombre de usuario</label>
          <input
            type="text"
            placeholder="Nombre usuario"
            id="username"
            formControlName="username"
            pattern="[A-Za-z]+"
            maxlength="20"
            minlength="8"
            (input)="updateRemainingChars()"
          />
          <small *ngIf="remainingChars > 0">
            Quedan {{ remainingChars }} caracteres.
          </small>
          <small
            *ngIf="personalDataForm.get('username')?.hasError('required') && personalDataForm.get('username')?.touched"
            class="error-text"
          >
            El nombre es obligatorio.
          </small>
          <small
            *ngIf="personalDataForm.get('username')?.hasError('maxlength') && personalDataForm.get('username')?.touched"
          >
            El nombre no puede tener más de 15 caracteres.
          </small>
          <small
            *ngIf="personalDataForm.get('username')?.hasError('pattern') && personalDataForm.get('username')?.touched"
            class="error-text"
          >
            El nombre solo puede contener letras.
          </small>
        </div>

        <!-- Campo de Correo Electrónico -->
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input
            placeholder="Correo Electrónico"
            type="email"
            id="email"
            [pattern]="'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$'"
            formControlName="email"
          />
          <div
            *ngIf="personalDataForm.get('email')?.invalid && personalDataForm.get('email')?.touched"
            class="errorMenssage"
          >
            <small
              *ngIf="personalDataForm.get('email')?.hasError('required')"
              class="error"
              >El correo es obligatorio.</small
            >
            <small
              *ngIf="personalDataForm.get('email')?.hasError('invalidEmail')"
              class="error"
              >Formato de correo inválido.</small
            >
          </div>
        </div>

        <!-- Campo de Teléfono -->
        <div class="form-group">
          <label for="telefono">Número Telefónico</label>
          <p-inputMask
            id="tel"
            mask="+52 999 999 9999"
            formControlName="telefono"
            placeholder="Introduce tu número telefónico"
          ></p-inputMask>
          <div
            *ngIf="personalDataForm.get('telefono')?.touched || personalDataForm.get('telefono')?.dirty"
            class="errorMenssage"
          >
            <small
              *ngIf="personalDataForm.get('telefono')?.hasError('required')"
              class="error"
            >
              El teléfono es requerido.
            </small>
            <small
              *ngIf="personalDataForm.get('telefono')?.hasError('invalidPhone')"
              class="error"
            >
              El teléfono es inválido.
            </small>
          </div>
        </div>

        <button
          class="ui basic button"
          [ngClass]="{'loading': isLoading}"
          type="submit"
        >
          {{ isLoading ? 'Cargando...' : 'Siguiente' }}
        </button>
      </form>

      <!-- Segundo formulario -->
      <form
        *ngIf="currentStep === 2"
        [formGroup]="credentialsForm"
        (ngSubmit)="registroCliente()"
      >
        <h1>Ingresa tu contraseña</h1>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <p-password
            [feedback]="false"
            formControlName="password"
            (input)="verificarPassword()"
            placeholder="Introduce tu contraseña"
            [toggleMask]="true"
          >
          </p-password>
          <div>
            <ul class="pass-req" *ngIf="faltantes && faltantes.length > 0">
              <li *ngFor="let item of faltantes">{{ item }}</li>
            </ul>
          </div>

          <span *ngIf="isPasswordCompromised" class="toast error">
            <div class="column">
              <i class="fas fa-exclamation-circle"></i>
              <span
                >Esta contraseña ha sido comprometida. Elija una contraseña más
                segura.</span
              >
            </div>
          </span>

          <label for="confirmPassword">Confirma tu contraseña</label>
          <p-password
            formControlName="confirmPassword"
            placeholder="Confirma tu contraseña"
            [toggleMask]="true"
            [feedback]="false"
            (input)="verificarCoincidencia()"
          ></p-password>
          <span
            *ngIf="!coincidenPasswords && credentialsForm.get('confirmPassword')?.touched"
            class="text-danger"
          >
            Las contraseñas no coinciden.
          </span>
        </div>
        <p-button
          *ngIf="!isLoading"
          [disabled]="this.faltantes.length != 0 || !credentialsForm.valid || !coincidenPasswords || isPasswordCompromised"
          iconPos="right"
          label="Validar y crear cuenta"
          type="submit"
        >
        </p-button>
        <!-- [disabled]="this.faltantes.length != 0 || !credentialsForm.valid || !coincidenPasswords || isPasswordCompromised" -->
        <!-- *ngIf="!isLoading" -->
        <p-button
          (click)="goToPreviousStep()"
          label="Volver"
          type="button"
        >
        </p-button>
        <!-- class="btn register" -->
        <!-- iconPos="right" -->
        <!-- <button class="btn signin" type="button" (click)="goToPreviousStep()">
          Volver
        </button> -->
      </form>
    </div>
  </div>
</div>
