.verification-container {
  text-align: center;
  padding: 20px;

  h2 {
    margin: 10px 0;
    font-weight: bold;
  }

  p {
    color: #666;
    margin: 10px 0;
  }

  .verification-icon {
    font-size: 3rem;
    color: #007bff; // Color del icono
    margin-bottom: 10px;
  }

  form {
    margin-top: 15px;
    //   @layer primeng {

    //   p-inputOtp {
    //     display: block;
    //     margin: 10px auto;
    //   }

    button {
      margin-top: 10px;
      width: 100%;
    }
  }

  .resend-text {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
  }

  .resend-link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

:host ::ng-deep .p-dialog {
  border-radius: 10px;
  width: 400px;
}

.p-inputotp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
