<div class="container mt-4">
  <h2>Gestión de Documentos Legales</h2>
  <div class="row">
    <!-- Tarjeta para Política de Privacidad -->
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Política de Privacidad</h5>
          <p class="card-text">Maneja la política de privacidad de la empresa.</p>
          <div class="btns">
            
            <a [routerLink]="['/admin/configuracion/registo-politica']" class="btn-r">registrar </a>
          <a [routerLink]="['/admin/configuracion/listado-politica']" class="btn">Gestionar</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta para Términos y Condiciones -->
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Términos y Condiciones</h5>
          <p class="card-text">Administra los términos y condiciones de uso.</p>
          <div class="btns">
            
            <a [routerLink]="['/admin/configuracion/terminos-condiciones']" class="btn-r">registrar</a>
            <a [routerLink]="['/admin/configuracion/listado-terminos-condiciones']" class="btn">Gestionar</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta para Deslinde Legal -->
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Deslinde Legal</h5>
          <p class="card-text">Revisa y actualiza el deslinde legal.</p>
          <div class="btns">
            
            <a [routerLink]="['/admin/configuracion/deslinde-legal']" class="btn-r">registrar</a>
          <a [routerLink]="['/admin/configuracion/listado-legal']" class="btn">Gestionar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</div>
