<!-- Formulario de Edición -->
<div class="form-container" *ngIf="politicaAEditar">
  <h2 class="form-title">Editar Política</h2>
  <form (ngSubmit)="actualizarPolitica()" class="form-edit">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input
        type="text"
        id="titulo"
        [(ngModel)]="politicaAEditar.titulo"
        name="titulo"
        required
        placeholder="Ingresa el título de la política"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="contenido">Contenido</label>
      <textarea
        id="contenido"
        [(ngModel)]="politicaAEditar.contenido"
        name="contenido"
        required
        placeholder="Ingresa el contenido de la política"
        class="form-control"
      ></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Actualizar Política</button>
      <button type="button" (click)="cancelarEdicion()" class="btn btn-secondary">Cancelar</button>
    </div>
  </form>
</div>


<!-- Tabla de Políticas -->
<table class="politicas-table">
  <thead>
    <tr>
      <th>Versión</th>
      <th>Título</th>
      <th>Contenido</th>
      <th>Fecha de Creación</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of politicas">
      <td>{{ doc?.version }}</td>
      <td>{{ doc?.titulo }}</td>
      <td>{{ doc?.contenido }}</td>
      <td>{{ doc?.fechaCreacion | date:'short' }}</td>
      <td>{{ doc?.estado }}</td>
      <td>
        <button (click)="editarPolitica(doc)" class="btn btn-edit">Editar</button>
        <button (click)="eliminarPolitica(doc._id)" class="btn btn-delete">Eliminar</button>
        <button (click)="verHistorial(doc._id)" class="btn btn-history">Ver Historial</button> <!-- Botón para ver historial -->
      </td>
    </tr>
  </tbody>
</table>
