<div class="form-container">
  <h2 class="form-title">Registrar Nuevo Deslinde Legal</h2>
  <form #formDeslinde="ngForm" (ngSubmit)="onSubmit(formDeslinde)">
    <!-- Título -->
    <div class="form-group">
      <label for="titulo">Título:</label>
      <input
        class="form-control"
        type="text"
        maxlength="30"
        minlength="5"
        name="titulo"
        [(ngModel)]="nuevoDeslindeLegal.titulo"
        required
      />
    </div>

    <!-- Contenido -->
    <div class="form-group">
      <label for="contenido">Contenido:</label>
      <textarea
        class="form-control textarea-control"
        minlength="30"
        maxlength="300"
        placeholder="Ingrese el contenido del deslinde legal"
        name="contenido"
        [(ngModel)]="nuevoDeslindeLegal.contenido"
        required
      ></textarea>
    </div>

    <!-- Fecha de Vigencia -->
    <div class="form-group">
      <label for="fechaVigencia">Fecha de Vigencia:</label>
      <input
        class="form-control"
        type="date"
        name="fechaVigencia"
        [(ngModel)]="nuevoDeslindeLegal.fechaVigencia"
        required
      />
    </div>

    <!-- Botón de Envío -->
    <button type="submit" class="btn-primary">Registrar Deslinde Legal</button>
  </form>
</div>
