<div class="container-form">
    <!-- Botón para ir atrás con icono de FontAwesome -->
    <div class="back-button">
        <a href="#" class="go-back">
            <i class="fas fa-arrow-left"></i> Ir atrás
        </a>
    </div>

    <form class="form">
        <div>
        </div>

        <label for="" class="">Nombre de usuario</label>
        <input type="text" placeholder="Introduce tu nombre de usuario" name="username" id="username">
        
        <label for="" class="">Contraseña</label>
        <input type="password" placeholder="Introduce tu contraseña" name="password" id="password">
        
        <button type="submit">Iniciar Sesión</button>

        <!-- Opciones adicionales -->
        <div class="options">
            <a href="#" class="forgot-password">Olvidé mi contraseña</a>
            <a href="#" class="create-account">Crear una cuenta nueva</a>
        </div>
    </form>
</div>
