<!-- <body> -->
<header class="app-header" [ngClass]="{ scrolled: isScrolled }">
  <!-- <nav> -->
  <nav class="marquee-container" style="text-align: center">
    <div class="marquee" id="item1">🔥 ¡Cómpralo ya! 🔥</div>
    <div class="marquee" id="item2">¡Elige a tu gusto !✨</div>
    <div class="marquee" id="item3">🔥 ¡Aprovecha ahora! 🔥</div>
  </nav>
  <!-- </nav> -->
  <nav class="nav-one">
    <nav class="navbar-one flex">
      <div class="left flex">
        <div class="email">
          <i class="fa fa-map-marker-alt"></i>
        </div>
        <div class="call">
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </div>
      <div class="right flex">
        <div class="facebook">
          <i class="fab fa-facebook"></i>
        </div>
        <div class="instagram">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="theme" (click)="toggleTheme()">
          <i [ngClass]="themeService.getTheme() === 'light' ? 'pi pi-sun' : 'pi pi-moon'"></i>
        </div>
      </div>
    </nav>
  </nav>
  <nav class="navbar-second flex" [ngClass]="{ sticky: isSticky }">
    <div class="logo">
      <div
        class="logo1"
        [style.backgroundImage]="
          'url(' + (isSticky ? imageUrl : defaultImageUrl) + ')'
        "
      ></div>
    </div>
    <ul *ngIf="!isMobile" class="nav-menu flex">
      <li><a (click)="redirectTo('home')">Home</a></li>
      <li><a (click)="redirectTo('AcercaDe')"> Acerca de nosotros </a></li>
    </ul>

    <ul class="nav-accion">
      <li>
        <div class="ui search" [ngClass]="{ loading: isLoading }">
          <div class="ui icon input">
            <input
              class="prompt"
              type="text"
              placeholder="Buscar en atelier..."
              [(ngModel)]="searchQuery"
              (keyup.enter)="onSearch()"
            />
            <i class="search icon"></i>
          </div>
        </div>
      </li>
      <li>
        <i class="pi pi-shopping-cart"></i>
      </li>
      <li class="IsMobile" *ngIf="!isMobile">
        <a tabindex="0" class="nav-icon" (click)="togglePopup()">
          <i class="fa-regular fa-user"></i>
          <ul class="muestra-opciones-user" *ngIf="popupVisible">
            <li
              *ngFor="let item of items"
              (click)="
                item.command ? item.command({ originalEvent: $event }) : null
              "
            >
              <i [class]="item.icon"></i> {{ item.label }}
            </li>
          </ul>
        </a>
      </li>

      <li *ngIf="isMobile">
        <i (click)="showDialog()" class="fa-solid fa-bars-staggered"></i>
      </li>
    </ul>
  </nav>
</header>

<!-- <body> -->
<p-sidebar [(visible)]="sidebarVisible" position="left" styleClass="w-30rem">
  <ng-template pTemplate="header" style="justify-content: center">
    <!-- <span class="font-semibold text-xl">Atelier</span> -->
    <img
      style="weight: 25px; height: 25px; margin-right: 30px; margin-left: 30px"
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730313785/images-AR/ic5srzm6tzqyrosaexan.png"
      alt=""
      srcset=""
    />
  </ng-template>

  <!-- <div class="resize-handle" (mousedown)="startResizing($event)"></div> -->
  <div class="menu-content">
    <ul>
      <li>
        <a tabindex="0" (click)="redirectTo('Home')">
          <i class="pi pi-home"></i> Home
        </a>
      </li>
      <li
        *ngFor="let item of items"
        (click)="item.command ? item.command({ originalEvent: $event }) : null"
      >
        <i [class]="item.icon"></i> {{ item.label }}
      </li>
      <!-- <li>
        <a tabindex="0" (click)="redirectTo('Sign-in')">
          <i class="pi pi-sign-in"></i> Iniciar sesión
        </a>
      </li>
      <li>
        <a tabindex="0" (click)="redirectTo('Sign-up')">
          <i class="pi pi-user-plus"></i> Registrarme
        </a>
      </li>
      <li>
        <a tabindex="0" (click)="redirectTo('Config')">
          <i class="pi pi-cog"></i> Configuración
        </a>
      </li> -->
      <li>
        <a tabindex="0" (click)="redirectTo('AcercaDe')">
          <i class="pi pi-info-circle"></i> Acerca de Atelier
        </a>
      </li>
    </ul>
  </div>
  <!-- Mango para redimensionar -->
</p-sidebar>

<!-- <div class="resize-handle" (mousedown)="startResizing($event)"></div> -->
