<!-- <body> -->
<header class="app-header" [ngClass]="{ scrolled: isScrolled }">
  <nav  class="nav-one">
    <nav class="navbar-one flex">
      <div class="left flex">
        <div class="email">
          <i class="fa fa-envelope"></i>
          <span>infoyourdomain.com</span>
        </div>
        <div class="call">
          <i class="fa fa-phone-alt"></i>
          <span>+91 (112) 1245789</span>
        </div>
      </div>
      <div class="right flex">
        <div class="twitter">
          <i class="fab fa-twitter"></i>
          <span>Twitter</span>
        </div>
        <div class="facebook">
          <i class="fab fa-facebook"></i>
          <span>Facebook</span>
        </div>
        
        <div class="facebook">
          <i _ngcontent-ng-c4082883417="" class="fab fa-instagram"></i>
        </div>


        
      </div>
    </nav>
  </nav>
  <nav class="nav-second">
    <div class="logo zoom"></div>
    <ul *ngIf="!isMobile" class="nav-menu">
      <li><a (click)="redirectTo('home')">Home</a></li>
      <li>
        <a (click)="redirectTo('AcercaDe')"> Acerca de nosotros </a>
      </li>
    </ul>
    <ul class="nav-accion">
      <li>
        <a href="#" class="nav-icon"><i class="pi pi-search"></i></a>
      </li>
      <li>
        <a href="#" class="nav-icon">    <i class="pi pi-shopping-cart"></i></a>
      </li>
      <li *ngIf="!isMobile">
        <a tabindex="0" class="nav-icon" (click)="menu.toggle($event)">
          <i class="fa-regular fa-user"></i>
        </a>
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
      </li>
      <li *ngIf="isMobile">
        <a tabindex="0" (click)="showDialog()" class="nav-icon"
          ><i class="fa-solid fa-bars-staggered"></i
        ></a>
      </li>
    </ul>
  </nav>
</header>

<!-- <body> -->
<p-sidebar [(visible)]="sidebarVisible" position="left" styleClass="w-30rem">
  <ng-template pTemplate="header">
    <span class="font-semibold text-xl">Atelier</span>
  </ng-template>

  <!-- <div class="resize-handle" (mousedown)="startResizing($event)"></div> -->
  <div class="menu-content">
    <ul>
      <li>
        <a tabindex="0" (click)="redirectTo('Home')">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li>
        <a tabindex="0" (click)="redirectTo('Sign-in')">
          <i class="fas fa-sign-in-alt"></i> Iniciar sesión
        </a>
      </li>
      <li>
        <a tabindex="0" (click)="redirectTo('Sign-up')">
          <i class="fas fa-user-plus"></i> Registrarme
        </a>
      </li>
      <li>
        <a tabindex="0" (click)="redirectTo('Config')">
          <i class="fas fa-gear"></i> configuración
        </a>
      </li>
      <li>
        <a tabindex="0" (click)="redirectTo('AcercaDe')">
          <i class="fas fa-info-circle"></i> Acerca de Atelier
        </a>
      </li>
    </ul>
  </div>
   <!-- Mango para redimensionar -->
</p-sidebar>

<!-- <div class="resize-handle" (mousedown)="startResizing($event)"></div> -->