/* Variables para colores */
:root {
  --background-color: #fff4ce;
  --text-color: #333;
  --hover-color: #f0e3bc;
  --header-scroll-bg-color: #e8d5b7; /* Color de fondo del header al hacer scroll */
  --logo-img-url: url("https://res.cloudinary.com/dvvhnrvav/image/upload/v1726493852/images-AR/cirf6qlatrjdkuj81fwy.jpg");
}


/* Estilos del header */
.app-header {
  background-color: #fff4ce;
  color: var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.nav-bar {
  display: flex;
  justify-content: space-between; /* Ajuste para logo y menú */
  align-items: center;
  padding: 0 20px; /* Espaciado lateral */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  transition: all 0.3s ease; /* Transición suave para los cambios de estado */

  /* Estilo inicial mostrando el texto "Altier" */
  content: "ALTIER";
}


/* Estilos del logo cuando hay scroll */
.app-header.scrolled {
  background-color: #e8d5b7; /* Cambia el color del fondo del header al hacer scroll */
  // background-color: var(--header-scroll-bg-color); /* Cambia el color del fondo del header al hacer scroll */
}

.app-header.scrolled .logo {
  background-image: var(--logo-img-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 50px;
  color: transparent; /* Oculta el texto cuando el logo es visible */
  content: ""; /* Quita el texto cuando se aplica la clase scrolled */
}


main{

  margin-left: 20%; /* Cambia el valor según lo que necesites */
  margin-top:6%; /* Cambia el valor según lo que necesites */
  border:dashed;
}
/* Estilos del menú de navegación */
.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  /* Cambia el color de fondo al pasar el cursor sobre los enlaces */
  &:hover {
    background-color: var(--hover-color);
  }
}


// Footer styles
.app-footer {
  // background-color: $background-color;
  // color: $text-color;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;

  p {
    margin: 0;
  }
}
