
  
  .card {
    // background-color: #fff;
    border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // padding: 40px;
    max-width: 300px;
    margin-left: 0;
  margin-right: 4%;

    // text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .features-list {
    list-style-type: none;
    padding: 0;
  }
  
  .features-list li {
    text-align: start;
    font-size: 16px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: #7b61ff; /* Purple color for icons */
    margin-right: 10px;
    font-size: 20px;
  }
  