<div
  data-aos="fade-up"
  data-aos-anchor-placement="top-bottom"
  class="container-form"
>
  <div class="back-button">
    <a routerLink="/public/home" class="go-back">
      <i class="fas fa-chevron-left"></i> Ir atrás
    </a>
  </div>

  <div class="card">
    <div class="logo-container">
      <img
        src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1726496561/images-AR/n7cjxwmizj0ath7oegjq.png"
        alt="Atelier logo"
        class="logo"
      />
    </div>

    <p-steps [activeIndex]="active" [model]="items"></p-steps>

    <div>
      <h1>Crea una cuenta</h1>
      <ul class="features-list">
        <li>
          <i class="fas fa-shield-alt icon"></i> Pagos seguros y confiables
        </li>
        <li><i class="fas fa-exchange-alt icon"></i> Transferencias rápidas</li>
        <li><i class="fas fa-percent icon"></i> Comisiones justas</li>
        <li>
          <i class="fas fa-chart-line icon"></i> Mejores tarifas disponibles
        </li>
        <li><i class="fas fa-thumbs-up icon"></i> Conveniencia</li>
      </ul>
    </div>
  </div>

  <div>
    <p-stepper [linear]="true">
      <!-- Panel de Información básica -->
      <p-stepperPanel header="Información básica">
        <ng-template let-nextCallback="nextCallback" pTemplate="content">
          <form
            [formGroup]="datosBasicosForm"
            (ngSubmit)="registroDatosBasicos()"
          >
            <label for="username">Nombre de usuario</label>
            <input
              type="text"
              formControlName="username"
              placeholder="Introduce tu nombre de usuario"
              [maxlength]="10"
            />
            <span
              *ngIf="datosBasicosForm.get('username')?.invalid && datosBasicosForm.get('username')?.touched"
              class="text-danger"
            >
              El campo de nombre de usuario es requerido.
            </span>

            <label for="email">Correo Electrónico</label>
            <input
              type="email"
              formControlName="email"
              placeholder="Introduce tu correo electrónico"
              required
            />
            <span
              *ngIf="datosBasicosForm.get('email')?.invalid && datosBasicosForm.get('email')?.touched"
              class="text-danger"
            >
              El correo electrónico debe ser válido.
            </span>

            <label for="tel">Número telefónico</label>
            <p-inputMask
              id="tel"
              mask="+52 999 999 9999"
              formControlName="telefono"
              placeholder="Introduce tu número telefónico"
            ></p-inputMask>
            <span
              *ngIf="datosBasicosForm.get('telefono')?.invalid && datosBasicosForm.get('telefono')?.touched"
              class="text-danger"
            >
              El número telefónico es requerido y debe ser válido.
            </span>
              <div class="mt-3" id="cloudflare-captcha-signin"></div>

            <div class="content-botoms">
              <p-button
                *ngIf="!valid"
                label="Verificar datos"
                icon="pi pi-check-circle"
                (onClick)="registroDatosBasicos()"
                [disabled]="!datosBasicosForm.valid"
              />
              <p-button
                *ngIf="valid"
                label="Next"
                icon="pi pi-arrow-right"
                (onClick)="nextCallback.emit();verFrmValidation()"
                [disabled]="!datosBasicosForm.valid"
              />
            </div>
          </form>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="verificación de correo">
        <ng-template
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          pTemplate="content"
        >
          <!-- Formulario de verificación de código OTP -->
          <!-- <div class="form-container" *ngIf="ViewActivateAcount"> -->
          <!-- <h2>Obtén la verificación en tu correo</h2> -->
          <h5>
            Para fines de seguridad, ingresa el código que hemos enviado a
            <strong>{{ myGlobalVariable }}</strong> a continuación.
          </h5>
          <p>El token expirará en: <strong>{{ remainingTime }}</strong></p>
          <form
            (ngSubmit)="verifyOtp()"
            [formGroup]="frmActivateAcount"
            class="form"
          >
            <p-inputOtp formControlName="otpCode" name="otpCode"></p-inputOtp>
            <span
              *ngIf="frmActivateAcount.get('otpCode')?.invalid && frmActivateAcount.get('otpCode')?.touched"
              class="text-danger"
            >
              El código es requerido.
            </span>
            <div class="content-botoms">
              <p-button
                label="Back"
                icon="pi pi-arrow-left"
                (onClick)="prevCallback.emit()"
              />
              <p-button
                *ngIf="!codeValid"
                type="submit"
                label="Verificar"
                icon="pi pi-check"
                [disabled]="!frmActivateAcount.valid"
              />
              <p-button
                *ngIf="codeValid"
                label="Next"
                icon="pi pi-arrow-right"
                (onClick)="nextCallback.emit();verFrmValidation()"
                [disabled]="!datosBasicosForm.valid"
              />
            </div>
          </form>
          <!-- </div> -->
        </ng-template>
      </p-stepperPanel>

      <!-- Panel de Información confidencial -->
      <p-stepperPanel header="Información confidencial">
        <ng-template
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          pTemplate="content"
        >
          <div data-aos="fade-left">
            <form
  [formGroup]="datosConfidencialesForm"
  (ngSubmit)="registroDatosConfidenciales()"
>
  <label for="password">Contraseña</label>
  <p-password
    formControlName="password"
    (input)="verificarPassword()"
    placeholder="Introduce tu contraseña"
    [toggleMask]="true"
  >
    <ng-template pTemplate="footer">
      <p class="mt-2">Requisitos</p>
      <ul class="passwordStrength" style="line-height: 1.5">
        <li [ngClass]="{'text-success': validacionesPassword.tieneMinuscula}">
          <span *ngIf="validacionesPassword.tieneMinuscula">✅</span>
          Al menos una letra minúscula
        </li>
        <li [ngClass]="{'text-success': validacionesPassword.tieneMayuscula}">
          <span *ngIf="validacionesPassword.tieneMayuscula">✅</span>
          Al menos una letra mayúscula
        </li>
        <li [ngClass]="{'text-success': validacionesPassword.tieneNumero}">
          <span *ngIf="validacionesPassword.tieneNumero">✅</span>
          Al menos un número
        </li>
        <li [ngClass]="{'text-success': validacionesPassword.longitudMinima}">
          <span *ngIf="validacionesPassword.longitudMinima">✅</span>
          Mínimo 8 caracteres
        </li>
      </ul>
    </ng-template>
  </p-password>

  <label for="confirmPassword">Confirma tu contraseña</label>
  <p-password
    formControlName="confirmPassword"
    placeholder="Confirma tu contraseña"
    [toggleMask]="true"
  ></p-password>
  <span *ngIf="!coincidenPasswords" class="text-danger">
    Las contraseñas no coinciden.
  </span>

  <div class="content-botoms">
    <p-button
      label="Back"
      icon="pi pi-arrow-left"
      (onClick)="prevCallback.emit()"
    ></p-button>
    <p-button
      label="Next"
      icon="pi pi-arrow-right"
      [disabled]="!datosConfidencialesForm.valid || !coincidenPasswords"
      (onClick)="nextCallback.emit()"
    ></p-button>
  </div>
</form>

          </div>
        </ng-template>
      </p-stepperPanel>

      <!-- Panel de Políticas y privacidad -->
      <p-stepperPanel header="Políticas y privacidad">
        <ng-template
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          pTemplate="content"
        >
          <div data-aos="fade-left">
            <form [formGroup]="politicasForm" (ngSubmit)="registroCliente()">
              <p>
                Tus datos personales se utilizarán para procesar tu compra,
                mejorar tu experiencia en esta web y otros propósitos descritos
                en nuestra
                <a href="#" target="_blank">política de privacidad</a>.
              </p>
              <div class="checkbox-terms">
                <input type="checkbox" formControlName="acceptTerms" />
                <label>
                  Acepto la
                  <a href="#" target="_blank">política de privacidad</a>, los
                  <a href="#" target="_blank">términos y condiciones</a>, y las
                  <a href="#" target="_blank">reglas de uso de cookies</a>.
                </label>
                <span
                  *ngIf="politicasForm.get('acceptTerms')?.invalid && politicasForm.get('acceptTerms')?.touched"
                  class="text-danger"
                >
                  Es necesario aceptar las políticas de privacidad.
                </span>
              </div>

              <div class="content-botoms">
                <p-button
                  label="Back"
                  icon="pi pi-arrow-left"
                  (onClick)="prevCallback.emit()"
                ></p-button>
                <p-button
                  label="Registrarse"
                  icon="pi pi-user-plus"
                  [disabled]="politicasForm.invalid"
                  (onClick)="registroCliente()"
                ></p-button>
              </div>
            </form>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</div>
