<div class="container-form">
  <div class="back-button">
    <a routerLink="/public/home" class="go-back">
      <i class="fas fa-arrow-left"></i> Ir atrás
    </a>
  </div>
  <div class="card">
    <h1>Crea una cuenta</h1>
    <ul class="features-list">
      <li>
        <i class="fas fa-shield-alt icon"></i> Pagos seguros a través de socios
        confiables
      </li>
      <li><i class="fas fa-exchange-alt icon"></i> Transferencias rápidas</li>
      <li><i class="fas fa-percent icon"></i> Comisiones justas</li>
      <li>
        <i class="fas fa-chart-line icon"></i> Mejores tarifas disponibles
      </li>
      <li><i class="fas fa-thumbs-up icon"></i> Conveniencia</li>
    </ul>
  </div>

  <div class="logo-container">
    <img
      src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1726496561/images-AR/n7cjxwmizj0ath7oegjq.png"
      alt="Atelier logo"
      class="logo"
    />
  </div>

  <!--  -->
  <!--  -->

  <form [formGroup]="formulario" (ngSubmit)="registroCliente()" class="form">
    <!-- Nombre de usuario -->
    <label for="username">Nombre de usuario</label>
    <input
      type="text"
      pInputText
      formControlName="username"
      name="username"
      placeholder="Introduce tu nombre de usuario"
      required
      [maxlength]="10"
    />
    <span style="color: red" *ngIf="errorMessages.username" class="text-danger">
      {{ errorMessages.username }}
    </span>
    <span
      style="color: red"
      *ngIf="formulario.get('username')?.invalid && formulario.get('username')?.touched"
      class="text-danger"
    >
      El campo de nombre de usuario es requerido.
    </span>

    <!-- Correo Electrónico -->
    <label for="email">Correo Electrónico</label>
    <input
      type="email"
      pInputText
      formControlName="email"
      name="email"
      placeholder="Introduce tu correo electrónico"
      required
    />
    <span style="color: red" *ngIf="errorMessages.email" class="text-danger">
      {{ errorMessages.email }}
    </span>
    <span
      style="color: red"
      *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched"
      class="text-danger"
    >
      El correo electrónico debe ser válido.
    </span>

    <!-- Número telefónico -->
    <label for="tel">Número telefónico</label>
    <p-inputMask
      id="tel"
      mask="+52 999 999 9999"
      formControlName="tel"
      placeholder="Introduce tu número telefónico"
    ></p-inputMask>
    <span style="color: red" *ngIf="errorMessages.tel" class="text-danger">
      {{ errorMessages.tel }}
    </span>
    <span
      style="color: red"
      *ngIf="formulario.get('tel')?.invalid && formulario.get('tel')?.touched"
      class="text-danger"
    >
      El número telefónico es requerido y debe ser válido.
    </span>

    <button type="submit" [disabled]="formulario.invalid">Registrar</button>
  </form>
</div>
