/* Contenedor principal del formulario */
div.container-form {
  margin: 0 auto;
  margin-top: 3%;
  // padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  user-select: none;
  // background: #f5f5f5;
  border-radius: 15px;
  // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  /* Botón de regreso */
  .back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;

    a.go-back {
      text-decoration: none;
      color: #e91e63;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 50px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;

      i {
        margin-right: 8px;
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }
  }

  /* Estilos del formulario */

  /* Estilo de la imagen del logo */
  .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  /* Responsividad para pantallas medianas */
  @media (max-width: 768px) {
    > form.form {
      width: 90%;
    }
  }

  /* Responsividad para pantallas pequeñas */
  @media (max-width: 480px) {
    > form.form {
      width: 100%;
      padding: 20px;

      label {
        font-size: 16px;
      }

      .p-password,
      input {
        padding: 15px;
        font-size: 14px;
      }

      button {
        padding: 12px;
        font-size: 16px;
      }

      .options {
        flex-direction: column;
        align-items: flex-start;

        a {
          font-size: 14px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
.passwordStrength {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}
// formularios
form {
  // border: dashed;
  // padding: 40px;
  // padding-top: 40px;
  // padding-bottom: 40px;
  padding-bottom: 40px;
  // width: 100%;
  max-width: 600px; /* Ancho máximo para formularios grandes */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;

  /* Estilo de los labels */
  label {
    font-size: 18px;
    color: #292d34;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 8px;

    &::after {
      content: "*";
      color: red;
      margin-left: 5px;
    }
  }

  /* Estilo de los campos de entrada */
  .extended-input,
  input {
    padding: 15px;
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);

    &:focus {
      outline: none;
      border-color: #2c8ecb;
      background-color: #fafafa;
      box-shadow: 0 0 5px rgba(30, 159, 233, 0.2);
    }
  }

  /* Botón de envío */
  .p-button,button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;

    &:hover {
      background-color: #d81b60;
      transform: translateY(-2px);
    }
  }

  /* Opciones adicionales debajo del formulario */
  .options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
      color: #e91e63;
      text-decoration: none;
      font-size: 14px;
      transition: color 0.2s ease;

      &:hover {
        color: #c2185b;
      }
    }
  }
}
.text-danger {
  color: red;
}
/* Clases para la validación de campos */
.is-invalid {
  border: 1px solid #e57373;
}

.is-valid {
  border: 1px solid #81c784;
}

/* Estilo de la lista de requisitos de contraseña */
.password-requirements {
  padding: 12px;
  border-radius: 8px;
  border: solid 1px #c3e5e5;
  background-color: #f9f9f9;
}

.password-content {
  display: flex;
  flex-direction: column;
}

.text-success {
  color: #4caf50;
}
.content-botoms {
  gap: 20px;
  display: flex;
  margin: top;
  top: 110px;
  margin-top: 20px;
}
/* Estilo específico para el componente de contraseña */
.p-password {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.p-password-panel {
  width: 100%;
}
//

.purchase-terms-container {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #4a4a4a;
  max-width: 600px;
  margin: 30px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.purchase-terms-container p {
  margin-bottom: 15px;
  line-height: 1.6;
}
@layer primeng {
  .p-password {
    position: relative;
    display: inline-flex;
    width: 100%;
  }
}
input {
  width: 100%;

  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}

.ui-password-toggle-icon {
  color: #007bff; // Cambia el color del icono de mostrar/ocultar
}
// }
.checkbox-terms {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 10px 0;
  align-items: center;
}

input.accept-terms {
  margin-top: 4px;
  width: 5px;
  height: 18px;
  accent-color: #007bff; /* Estilo moderno del checkbox */
}

.checkbox-terms label {
  font-size: 10px;
  line-height: 1.5;
  color: #333;
}
.confr {
  margin-top: 20px;
}
.checkbox-terms label a {
  color: #007bff;
  text-decoration: none;
  font-weight: 50;
}

.checkbox-terms label a:hover {
  text-decoration: underline;
}
