

   <div class="secciones">

     <section class="inspiracion">
       <h1>Inspiración y Novedades</h1>
    <p>
      Mantente al día con las últimas tendencias de diseño, los mejores consejos y mucho más. Aquí encontrarás contenido relevante y útil.
    </p>
    <div class="video-container">
      <video controls>
        <source src="video.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </section>

  <section class="resenas">
    <h2>Reseñas de clientes</h2>
    <p>
      Según el éxito de las soluciones, las reseñas de los clientes ayudan a mejorar nuestro servicio y atender mejor a nuestras comunidades.
    </p>
    <div class="resenas-grid">
      <div class="resena">
        <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 1">
        <h3>Automatic processing</h3>
        <p>Descripción breve de la reseña del cliente.</p>
      </div>
      <div class="resena">
        <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 2">
        <h3>Automatic processing</h3>
        <p>Descripción breve de la reseña del cliente.</p>
      </div>
      <div class="resena">
        <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1730673202/images-AR/iskxc74b749qjsbsl6h0.webp" alt="Cliente 3">
        <h3>Automatic processing</h3>
        <p>Descripción breve de la reseña del cliente.</p>
      </div>
    </div>
  </section>

  <section class="comentarios">
    <h2>Coméntanos</h2>
    <p>
      ¿Quieres compartir tu opinión o experiencia? ¡Envíanos tu comentario para ayudarnos a mejorar!
    </p>
    <form class="form-comentarios">
      <input type="text" placeholder="Ingresa tu nombre" required>
      <textarea placeholder="Comentario" rows="4" required></textarea>
      <button type="submit">Enviar</button>
    </form>
  </section>

      </div>