<!-- <p-button
  label="Términos y Condiciones"
  icon="pi pi-info-circle"
  (onClick)="showTermsDialog()"
></p-button> -->

<p-dialog
  header="Términos y Condiciones"
  [(visible)]="displayTermsDialog"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
>
  <!-- [width]="600" -->
  <div class="terms-content">
    <h3>Términos y Condiciones</h3>
    <p>
      Por favor, lee estos términos y condiciones detenidamente antes de
      utilizar nuestra aplicación.
    </p>
    <ul>
      <li>
        Condición 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li>
        Condición 2: Integer nec odio. Praesent libero. Sed cursus ante dapibus
        diam.
      </li>
      <li>
        Condición 3: Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis
        sagittis ipsum.
      </li>
      <!-- Más condiciones... -->
    </ul>
  </div>
  <input type="checkbox" [(ngModel)]="termsAccepted" />
  <label for="">He leído y acepto los términos 1y condiciones</label>
  <ng-template pTemplate="footer">
    <p-button
      label="Aceptar"
      [disabled]="!termsAccepted"
      icon="pi pi-check"
      (onClick)="acceptTerms()"
    ></p-button>
  </ng-template>
</p-dialog>

<!-- <body> -->
<div class="container">
  <header class="logo-placeholder">
    <img
      src={{empresaData?.logo}}
      alt="Atelier logo"
      class="logo"
    />
  </header>
  <h1 class="title">
    {{ empresaData?.tituloPagina || 'Nombre de la pagina' }}
  </h1>
  <!-- Mostrar el nombre de la empresa -->
  <h1 class="title">{{ empresaData?.slogan || 'Slogan' }}</h1>

  <p class="description">
    Ubicación: {{ empresaData?.direccion || 'direccion' }}
  </p>
  <!-- Descripción de la ubicación más detallada -->

  <iframe
    src="https://www.google.com/maps/embed?pb=!4v1728925271351!6m8!1m7!1sHxKDp-WCGLAkUVvueXmm9A!2m2!1d21.14306962026774!2d-98.42243926369584!3f54.71995958051819!4f-7.200721148836678!5f0.7820865974627469"
    width="300"
    height="150"
    style="border: 20px"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <div class="terms">
    <p>
      Condiciones aplican. Consulte nuestros términos de servicio para más
      detalles.
      <a
        style="color: blue; cursor: pointer"
        (click)="verTerminosYcondiciones()"
        >Términos y Condiciones</a
      >
    </p>
  </div>

  <div class="buttons">
    <button class="btn">Ver Catálogo</button>
    <button class="btn">Contáctanos</button>
  </div>
</div>
<!-- </body>7 -->
