
<body>
    <div class="container">
        <header class="logo-placeholder">
            <img src="https://via.placeholder.com/150" alt="atelier logo">
        </header>
        <h1 class="title">Atelier - Venta y Renta de Vestido</h1>
        
        <!-- Descripción de la ubicación más detallada -->
        <p class="description">
         
            Ubicación: Calle Principal #123, Colonia Tahuizan Av san Luis Potosí 14,, Código Postal 43047,Hidalgo, HGO,Mexico
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!4v1728925271351!6m8!1m7!1sHxKDp-WCGLAkUVvueXmm9A!2m2!1d21.14306962026774!2d-98.42243926369584!3f54.71995958051819!4f-7.200721148836678!5f0.7820865974627469" width="100" height="150" style="border:20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="terms">
            <p>Condiciones aplican. Consulte nuestros términos de servicio para más detalles.</p>
        </div>

        <div class="buttons">
            <button class="btn">Ver Catálogo</button>
            <button class="btn">Contáctanos</button>
        </div>
    </div>
</body>
