<form
  (ngSubmit)="onSubmit()"
  #empresaForm="ngForm"
  class="ajustes-generales-form"
>
  <h2 class="form-title">Ajustes Generales</h2>

  <div class="table">
    <div class="table">
      <!-- Sección para el logo -->
      <div class="table-row">
        <div class="table-cell">
          <!-- [src]="empresa.logo" -->
          <label for="logo">Logo</label>
          <p-avatar
            *ngIf="profileImg"
            [image]="profileImg"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          ></p-avatar>
          <input
            [hidden]="true"
            type="file"
            id="logo"
            #fileInput
            (change)="onFileSelected($event)"
            accept="image/jpeg,image/png"
            class="form-control"
          />
          <label for="logo" class="btn btn-primary mt-2">
            {{ empresa.logo ? "Cambiar" : "Subir" }} Logo
          </label>
          <!-- Mostrar el logo si existe -->
          <!-- <div *ngIf="logoUrl" class="logo-container">
            <img [src]="logoUrl" alt="Logo" class="logo-preview" />
          </div> -->
        </div>
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        <label for="slogan">Slogan</label>
        <input
          type="text"
          id="slogan"
          [(ngModel)]="empresa.slogan"
          name="slogan"
          required
          minlength="5"
          class="form-control"
          #slogan="ngModel"
        />
        <div *ngIf="slogan.invalid && slogan.touched" class="error-message">
          <span *ngIf="slogan.errors?.['required']"
            >El slogan es obligatorio.</span
          >
          <span *ngIf="slogan.errors?.['minlength']"
            >El slogan debe tener al menos 5 caracteres.</span
          >
        </div>
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        <label for="tituloPagina">Título de Página</label>
        <input
          type="text"
          id="tituloPagina"
          [(ngModel)]="empresa.tituloPagina"
          name="tituloPagina"
          required
          minlength="5"
          class="form-control"
          #tituloPagina="ngModel"
        />
        <div
          *ngIf="tituloPagina.invalid && tituloPagina.touched"
          class="error-message"
        >
          <span *ngIf="tituloPagina.errors?.['required']"
            >El título de la página es obligatorio.</span
          >
          <span *ngIf="tituloPagina.errors?.['minlength']"
            >El título debe tener al menos 5 caracteres.</span
          >
        </div>
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">
        <label for="direccion">Dirección</label>
        <input
          type="text"
          id="direccion"
          [(ngModel)]="empresa.direccion"
          name="direccion"
          required
          class="form-control"
          #direccion="ngModel"
        />
        <div
          *ngIf="direccion.invalid && direccion.touched"
          class="error-message"
        >
          <span *ngIf="direccion.errors?.['required']"
            >La dirección es obligatoria.</span
          >
        </div>
      </div>
    </div>
    <div class="form-group-container">
      <div class="table-row">
        <div class="table-cell">
          <label for="correoElectronico">Correo Electrónico</label>
          <input
            type="email"
            id="correoElectronico"
            [(ngModel)]="empresa.correoElectronico"
            name="correoElectronico"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            class="form-control"
            #correoElectronico="ngModel"
          />
          <div
            *ngIf="correoElectronico.invalid && correoElectronico.touched"
            class="error-message"
          >
            <span *ngIf="correoElectronico.errors?.['required']"
              >El correo electrónico es obligatorio.</span
            >
            <span *ngIf="correoElectronico.errors?.['email']"
              >El correo electrónico no es válido.</span
            >
            <span *ngIf="correoElectronico.errors?.['pattern']"
              >Formato de correo electrónico no válido.</span
            >
          </div>
        </div>
      </div>

      <div class="table-row">
        <div class="table-cell">
          <label for="telefono">Teléfono</label>
          <input
            type="text"
            id="telefono"
            [(ngModel)]="empresa.telefono"
            name="telefono"
            class="form-control"
            #telefono="ngModel"
            pattern="^[0-9]{10,15}$"
            required
          />
          <div
            *ngIf="telefono.invalid && telefono.touched"
            class="error-message"
          >
            <span *ngIf="telefono.errors?.['required']"
              >El teléfono es obligatorio.</span
            >
            <span *ngIf="telefono.errors?.['pattern']"
              >El teléfono debe ser un número válido de 10 a 15 dígitos.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn guardar">Guardar</button>
    <!-- [disabled]="!empresaForm.form.valid" -->
  </div>
</form>
