<div class="container">
  <div class="datas">
    <h2><i class="fas fa-user"></i> Perfil de Trabajador</h2>
    <div class="profile-group">
      <label for="nombre"><i class="fas fa-user-circle"></i> Nombre:</label>
      <p id="nombre">{{ data.nombre }}</p>
    </div>
    <div class="profile-group">
      <label for="email"
        ><i class="fas fa-envelope"></i> Correo Electrónico:</label
      >
      <p id="email">{{ data.email }}</p>
    </div>
    <div class="profile-group">
      <label for="telefono"><i class="fas fa-phone"></i> Teléfono:</label>
      <p id="telefono">{{ data.telefono }}</p>
    </div>
  </div>
  <button class="floating-button" (click)="toggleEditMode()">
    <i class="fas" [ngClass]="editMode ? 'fa-save' : 'fa-edit'"></i>
  </button>
</div>
