* {
  box-sizing: border-box;
}

h1 {
  color: var(--titulo-color);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 34px;
}
h2 {
  color: #6e5c5c;
  font-weight: bold;
  font-size: 24px;
}
.errorMenssage {
  position: relative;
  color: var(--mensaje-errrores);
  font-size: 14px;
  font-weight: bold;
  left: 10px;
  margin-top: 2px;
}

p {
   text-decoration: wavy;
  color: #5c4c4c;
  font-size: 16px;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;

  height: 480px;
  width: 800px;
  border: 1px dashed rgb(0, 255, 55);
  padding: 25px;
  transform: translateY(-80px);
}
.form .login-section {
  height: 100%;
}
.form .item {
  height: 100%;
}

.form-box-titulo {
  width: 100%;
  text-align: center;
  background: #fff;
  color: var(--primary-color);
  border: 1px dashed green;
}

.login-section {
  position: relative;
  border: 1px dashed;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 40px;

  .form-box {
    color: #6e5c5c;
    margin: 6px;
    margin-right: 6px;
    // border: 1px dashed green;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    label {
      color: #6e5c5c;
      font-weight: bold;
      font-size: 16px;
    }

    .p-password {
      border-radius: 6px;
      width: 100%;
      height: 38px;
      border: 1px solid #ccc; /* Color del borde similar */
      background-color: #fff; /* Fondo similar */
      display: flex;
      align-items: center;
    }

    p-inputgroupaddon {
      background-color: #584c50; /* Ajusta al color de fondo preferido */
      color: #fff; /* Color del icono */
      padding: 0.5rem; /* Espaciado alrededor del icono */
      border-radius: 4px 0 0 4px; /* Bordes redondeados para el lado izquierdo */
    }

    .input-login {
      flex: 1;
      width: 100%;
      padding: 0.5rem;
      border-radius: 0 4px 4px 0; /* Bordes redondeados para el lado derecho */
      border: 1px solid #ccc; /* Color del borde */
    }

    input {
      border-radius: 6px;
      width: 100%;
      height: 38px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
    }
    .p-password {
      .p-icon {
        position: absolute;
        top: -6px;
        right: 10px;
        font-size: 20px;
        width: 20px;
        height: 38px;
        color: #733333;
      }

      .p-password-panel {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 150px; /* Ancho máximo */
        width: 100px; /* Ancho máximo */
        // max-height: 150px;
        padding: 8px;
        font-size: 12px;

        h6 {
          font-size: 18px;
          color: #4f3e3e;
          margin: 0;
          padding: 4px 0;
          font-weight: normal;
        }

        ul {
          padding: 0;
          margin-top: 8px;
          padding-left: 20px;
        }

        li {
          color: #555;
          font-size: 14px;
          padding: 0px 0;
          padding: 2px 0;
        }
      }
    }
  }
  .form-box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

    .p-button {
      color: #733333;
      padding: 6px;
      background-color: #faefe7;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 40%);
      border: 1px dashed #733333;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }

  a {
    color: #a08e8e;
    font-size: 15px;
    padding-right: 15px;
    font-weight: bold;
    text-decoration: wavy;
    border-bottom: 1px dashed #a08e8e;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      color: #4f3e3e;
    }
    &.forgot-password {
      margin-right: 10px;
    }
  
  }

  .lock-message {
    margin: 10px;
    color: #f30808;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 234, 234);
    border: 1px rgb(255, 193, 193);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
.item {
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  border: 1px dashed;
  background-color: #faefe7;

  .nombre-empresa {
    background-color: #ffffff;
    text-align: center;
    border-radius: 3px;

    font-weight: bold;
    font-size: 16px;

    border: 2px solid #6e5c5c;
    // box-shadow: 0px 0px 1px 1px #6e5c5c;
  }
  .logo {
    display: flex;
    justify-content: center;
    text-align: center;

    img {
      border-radius: 3px;
      width: 140px;
      height: auto;
      margin-top: 5px;
      object-fit: contain;
    }
  }
  a {
    color: #a08e8e;
    font-size: 15px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: wavy;
    border-bottom: 1px dashed #a08e8e;

    &:hover {
      font-weight: bold;
      color: #4f3e3e;
    }
  }

  .text-item {
    color: #6e5c5c;
  }

  .social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hidden {
  display: none;
}

/* Media Query for smaller screens (Tablets) */
@media (max-width: 550px) {
  .container-form {
    width: 100%;
    height: 100%;
    border: 3px dashed #f30808;
    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      height: 450px;

      .item {
        width: 0%;
        display: none; //Esto eliminará completamente el elemento de la estructura visual de la página, sin dejar espacio vacío.
      }

      .login-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed blue;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        .form-box {
          width: 270px;
          border: 1px dashed #f30808;
          display: flex;
          flex-direction: column;
          align-items: center;

          label {
            color: #6e5c5c;
            font-weight: bold;
            font-size: 16px;
          }

          p-inputgroupaddon {
            background-color: #584c50; /* Ajusta al color de fondo preferido */
            color: #fff; /* Color del icono */
            padding: 0.5rem; /* Espaciado alrededor del icono */
            border-radius: 4px 0 0 4px; /* Bordes redondeados para el lado izquierdo */
          }
        }
      }
    }
  }
}
