<div class="container-form">
  <!-- Botón para ir atrás con icono de FontAwesome -->
  <div class="back-button">
    <a routerLink="/public/home" class="go-back">
      <i class="fas fa-chevron-left"></i> Ir atrás
    </a>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" method="post" class="form">
    <div></div>

    <label for="usuario" class="">Nombre de usuario</label>
    <input
      pInputText
      type="text"
      placeholder="Introduce tu nombre de usuario"
      formControlName="email"
      id="usuario"
      required
      [disabled]="isLocked"
    />

    <label for="pass" class="">Contraseña</label>
    <input
      pInputText
      type="password"
      placeholder="Introduce tu contraseña"
      formControlName="password"
      id="pass"
      required
      [disabled]="isLocked"
    />
    <p-button iconPos="right"  label="Iniciar Sesión" type="submit" [disabled]="loading || isLocked">
    </p-button>

    <!-- Mostrar mensaje de bloqueo si está bloqueado -->
    <div *ngIf="isLocked" class="lock-message">
      Cuenta bloqueada por múltiples intentos fallidos. Inténtalo de nuevo en {{
      remainingTime }} segundos.
    </div>

    <!-- <button type="button" (click)="executeRecaptcha()">hoa</button> -->
    <re-captcha
      (resolved)="executeRecaptchaVisible($event)"
      siteKey="6LereGcqAAAAAOYonCxeWIj-b9XAv8Y3hng--ype"
    ></re-captcha>
    <!-- <div
      class="g-recaptcha"
      data-sitekey="6LereGcqAAAAAOYonCxeWIj-b9XAv8Y3hng--ype"
      (resolved)="executeRecaptchaVisible($event)"
    ></div> -->

    <!-- [data-size]="'normal'"  -->

    <!-- Opciones adicionales -->
    <div class="options" [class.disabled]="isLocked">
      <a (click)="redirectTo('forgot-password')" class="forgot-password"
        >Olvidé mi contraseña</a
      >
      <a routerLink="/auth/Sign-up" class="create-account"
        >Crear una cuenta nueva</a
      >
    </div>
  </form>
</div>
