* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  h1 {
    color: #4f3e3e;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 34px;
  }
  h2 {
    color: #6e5c5c;
    font-weight: bold;
    font-size: 24px;
  }

  p {
    color: #5c4c4c;
    font-size: 16px;
  }

  

  .container-form {
    width: 100%; /* El contenedor ocupa el 100% del ancho del body */
    max-width: 100%;
    height: auto;
    border: 2px dashed red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

    .back-button {
      position: absolute;
      text-align: center;
      text-decoration: none;
      width: 95px;
      padding: 8px;
      background-color: #faefe7;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 40%);
      border: 1px solid #733333;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      top: 20px;
      left: 30px;
      display: flex;
      align-items: center;

      .go-back {
        color: #733333;
        font-size: 14px;
        font-weight: bold;
      }
    }
    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      height: 480px;
      width: 800px;
      border: 2px dashed darkblue;
      padding: 25px;
      margin-bottom: 30px;
    }
    .form .login-section {
      height: 100%;
    }
    .form .item {
      height: 100%;
    }

    .form-box-titulo {
      width: 100%;
      text-align: center;
      border: 2px dashed green;
    }

    .login-section {
      position: relative;
      border: 2px dashed;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 40px;

      .form-box {
        color: #6e5c5c;
        margin: 6px;
        margin-right: 6px;

        // border: 2px dashed green;
        display: flex;
        flex-direction: column;
        align-content: flex-start;

        label {
          color: #6e5c5c;
          font-weight: bold;
          font-size: 16px;
        }

        input {
          border-radius: 6px;
          width: 100%;
          height: 38px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
        }
        .p-password {
          border-radius: 6px;
          width: 100%;
          height: 38px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;

          .p-icon {
            position: absolute;
            top: -6px;
            right: 10px;
            font-size: 20px;
            width: 20px;
            height: 38px;
            color: #733333;
          }

          .p-password-panel {
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            max-width: 200px; /* Ancho máximo */
            // max-height: 150px;
            padding: 8px;
            font-size: 12px;

            .ng-template {
              background: #f30808;
            }
            h6 {
              font-size: 18px;
              color: #4f3e3e;
              margin: 0;
              padding: 4px 0;
              font-weight: normal;
            }

            ul {
              padding: 0;
              margin-top: 8px;
              padding-left: 20px;
            }

            li {
              color: #555;
              font-size: 14px;
              padding: 0px 0;
              padding: 2px 0;
            }
          }
        }
      }
      .form-box-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;

        .p-button {
          color: #733333;
          background-color: #faefe7;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 40%);
          border: 1px solid #733333;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
        }
      }

      a {
        color: #a08e8e;
        font-size: 15px;
        padding-right: 15px;
        font-weight: bold;
        text-decoration: wavy;
        border-bottom: 1px solid #a08e8e;
    
        &:hover {
          font-weight: bold;
          color: #4f3e3e;
        }
        &.forgot-password{
          margin-right: 10px; 
        }
      }

      .lock-message {
        margin: 10px;
        color: #f30808;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
        background-color: rgb(255, 234, 234);
        border: 1px rgb(255, 193, 193);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
    .item {
      padding: 25px;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: auto;
      border: 2px dashed;

      .nombre-empresa {
        text-align: center;
        color: #6e5c5c;
        font-weight: bold;
        font-size: 16px;
        border: 2px dashed green;
      }
      .logo {
        display: flex;
        justify-content: center;
        text-align: center;

        img {
          width: 140px;
          height: auto;
          margin-top: 20px;
        }
      }
      a {
        color: #a08e8e;
        font-size: 15px;
        padding-right: 15px;
        font-weight: bold;
        text-decoration: wavy;
        border-bottom: 1px solid #a08e8e;
    
        &:hover {
          font-weight: bold;
          color: #4f3e3e;
        }
      }

      .text-item {
        color: #6e5c5c;
      }

      .social-icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
