div.container-form {
  margin: 0 auto; /* Centramos el contenedor */
  margin-top: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; /* Asegura que el formulario se centre verticalmente */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Estándar */

  .back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;

    a.go-back {
      text-decoration: none;
      color: #e91e63;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 50px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;

      i {
        margin-right: 8px;
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }
  }

  /* Media Queries para hacerlo responsivo */
  @media (max-width: 768px) {
    > form.form {
      width: 90%; /* Ancho más grande en pantallas medianas */
    }
  }

  @media (max-width: 480px) {
    > form.form {
      width: 100%; /* Ancho completo en pantallas pequeñas */
      padding: 30px;
      label {
        font-size: 18px;
      }

      input {
        padding: 15px;
        font-size: 14px;
      }

      button {
        padding: 15px;
        font-size: 16px;
      }

      .options {
        flex-direction: column; /* Alinea las opciones verticalmente */
        align-items: flex-start;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.lock-message {
  margin-top: 1rem;
  color: #ff818d;
  font-size: 0.95rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(255, 234, 234);
  border: solid 1px rgb(255, 193, 193);
}
form {
  padding: 30px;
  width: 50%; /* Ajuste del ancho del formulario */
  display: flex;

  flex-direction: column;
  // border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff; /* Fondo blanco para mejor visibilidad */

  .options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%; /* Se adapta al ancho del formulario */

    a {
      color: #e91e63;
      text-decoration: none;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

label {
  display: block;
  margin-bottom: 5px;
}
// .custom-password-class {
//   input {
//     border-radius: 8px;
//     padding: 0.5rem;
//   }
// }

.p-password {
  width: 100%;
  // border: dashed;
}

input {
  padding: 15px;
  width: 100%;
  border: solid 1px #ddd;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);

  &:focus {
    outline: none;
    border-color: #2c8ecb;
    background-color: #fafafa;
    box-shadow: 0 0 5px rgba(30, 159, 233, 0.2);
  }
}

button {
  width: 100%;
  margin-top: 10px;
}
.erros {
  color: red;
}
