<div class="sidenav">
  <button type="button" (click)="mostrar()" class="admin-panel-btn">
    Panel de Administrador
  </button>
  <br />
  <div class="logo">
    <span *ngIf="!isTextVisible" class="">ATR</span>
  </div>

  <ul class="nav flex-column">
    <!-- Inicio -->
    <li>
      <a
        tabindex="0"
        (click)="redirectToAdminBoutique('Home');setActiveLink($event)"
        class="nav-link"
      >
        <i class="fas fa-home"></i>
        <span *ngIf="isTextVisible" class="link-text">Inicio</span></a
      >
    </li>

    <!-- Clientes -->
    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'clientes-submenu'"
        (click)="toggleSubmenu('clientes-submenu');setActiveLink($event)"
      >
        <i class="fas fa-user"></i>
        <span *ngIf="isTextVisible" class="link-text">Clientes</span>
        <i
          *ngIf="isTextVisible"
          class="fas fa-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'clientes-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'clientes-submenu'"
        class="submenu"
        id="clientes-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToCotrolClientes('lista-clientes');setActiveLink($event)"
            class="nav-link"
          >
            Listar clientes</a
          >
        </li>
        <!-- <li>
          <a
            tabindex="0"
            (click)="redirectToCotrolClientes('agregar-cliente');setActiveLink($event)"
            class="nav-link"
          >
            Agregar cliente</a
          >
        </li> -->
      </ul>
    </li>

    <!-- Inventario (Productos de Boutique) -->
    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'productos-submenu'"
        (click)="toggleSubmenu('productos-submenu');setActiveLink($event)"
      >
        <i class="fas fa-tags"></i>
        <span *ngIf="isTextVisible" class="link-text">Productos</span>
        <i
          *ngIf="isTextVisible"
          class="fas fa-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'productos-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'productos-submenu'"
        class="submenu"
        id="productos-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToProductos('lista-productos');setActiveLink($event)"
            class="nav-link"
          >
            Listar productos</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToProductos('registro-producto');setActiveLink($event)"
            class="nav-link"
          >
            Agregar producto</a
          >
        </li>
      </ul>
    </li>

    <!-- Renta de Productos -->
    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'renta-submenu'"
        (click)="toggleSubmenu('renta-submenu');setActiveLink($event)"
      >
        <i class="fas fa-handshake"></i>
        <span *ngIf="isTextVisible" class="link-text">Renta</span>
        <i
          *ngIf="isTextVisible"
          class="fas fa-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'renta-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'renta-submenu'"
        class="submenu"
        id="renta-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToRenta('lista-renta');setActiveLink($event)"
            class="nav-link"
          >
            Listar rentas</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToRenta('registro-renta');setActiveLink($event)"
            class="nav-link"
          >
            Agregar renta</a
          >
        </li>
      </ul>
    </li>

    <!-- ventass -->
    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'ventas-submenu'"
        (click)="toggleSubmenu('ventas-submenu');setActiveLink($event)"
      >
        <i class="fas fa-cash-register"></i>
        <span *ngIf="isTextVisible" class="link-text">Ventas</span>
        <i
          *ngIf="isTextVisible"
          class="fas fa-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'ventas-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'ventas-submenu'"
        class="submenu"
        id="ventas-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToVentas('lista-venta');setActiveLink($event)"
            class="nav-link"
          >
            Listar ventas</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToVentas('registro-venta');setActiveLink($event)"
            class="nav-link"
          >
            Registrar nueva venta</a
          >
        </li>
      </ul>
    </li>

    <!-- Historial
    <li class="nav-item">
      <a
        tabindex="0"
        (click)="redirectToAdminBoutique('historial-transacciones');setActiveLink($event)"
        class="nav-link"
      >
        <i class="fa-regular fa-chart-bar"></i>
        <span class="link-text">Historial</span></a
      >
    </li> -->

    <!-- Reportes -->
    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'reportes-submenu'"
        (click)="toggleSubmenu('reportes-submenu');setActiveLink($event)"
      >
        <i class="fas fa-chart-line"></i>
        <span *ngIf="isTextVisible" class="link-text">Reportes</span>
        <i
          *ngIf="isTextVisible"
          class="fas fa-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'reportes-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'reportes-submenu'"
        class="submenu"
        id="reportes-submenu"
      >
        <li>
          <a
            [ariaDisabled]="true"
            tabindex="0"
            (click)="redirectToReportes('ventas-reporte');setActiveLink($event)"
            class="nav-link"
          >
            Reporte de ventas</a
          >
        </li>
        <li>
          <a
            [ariaDisabled]="true"
            tabindex="0"
            (click)="redirectToReportes('rentas-reporte');setActiveLink($event)"
            class="nav-link"
          >
            Reporte de rentas</a
          >
        </li>
      </ul>
    </li>

    <!-- Configuración -->
    <li class="nav-item">
      <a
        tabindex="0"
        class="nav-link"
        [class.open]="openSubmenu === 'configuracion-submenu'"
        (click)="toggleSubmenu('configuracion-submenu');setActiveLink($event)"
      >
        <i class="fas fa-cog"></i>
        <span *ngIf="isTextVisible" class="link-text">Configuración</span>
        <i
          *ngIf="isTextVisible"
          class="fas fa-chevron-down submenu-toggle"
          [class.open]="openSubmenu === 'configuracion-submenu'"
        ></i>
      </a>
      <ul
        *ngIf="openSubmenu === 'configuracion-submenu'"
        class="submenu"
        id="configuracion-submenu"
      >
        <li>
          <a
            tabindex="0"
            (click)="redirectToConfiguracion('perfil-administrador');setActiveLink($event)"
            class="nav-link"
          >
            Perfil de administrador</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToConfiguracion('ajustes-generales');setActiveLink($event)"
            class="nav-link"
          >
            Ajustes generales</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToConfiguracion('documentos-legales');setActiveLink($event)"
            class="nav-link"
          >
            Documentos Legales
          </a>
        </li>
        <li>
          <a
            tabindex="0"
            (click)="redirectToConfiguracion('notificaciones');setActiveLink($event)"
            class="nav-link"
          >
            Notificaciones</a
          >
        </li>
      </ul>
    </li>

    <!-- Cerrar Sesión -->
  </ul>
  <li *ngIf="isTextVisible">
    <button class="toggle-btn" (click)="logout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión
    </button>
  </li>
</div>

<div class="floating-header">
  <div class="admin-info">
    <span class="date">{{fechaTexto}}</span>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
