table {
  width: 100%; /* Para que ocupe todo el ancho del contenedor */
  border-collapse: collapse; /* Evita doble borde entre celdas */
}

th {
  background-color: #f2f2f2; /* Color de fondo gris claro */
  text-align: left; /* Alineación del texto a la izquierda */
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Fila con fondo gris claro */
}

tr:hover {
  background-color: #ddd; /* Color gris al pasar el mouse sobre la fila */
}
td,
th {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
