<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Telefono Column -->
    <ng-container matColumnDef="Telefono">
      <th mat-header-cell *matHeaderCellDef>Telefono</th>
      <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
    </ng-container>

    <!-- Rol Column -->
    <ng-container matColumnDef="Rol">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element">{{ element.rol }}</td>
    </ng-container>

    <!-- FechaDeRegistro Column -->
    <ng-container matColumnDef="FechaDeRegistro">
      <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaDeRegistro | date:'short' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of clients"
  >
  </mat-paginator>
</div>
