@import url(https://fonts.googleapis.com/css2?family=Sacramento&display=swap);

/* body {
  font-family: 'Sacramento', handwriting;
} */

@import url(https://fonts.googleapis.com/css2?family=Passion+One:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Passion One", display;
}
.contiene-all {
  display: flex;
  flex-direction: row;

  border: #e4e4e4 solid 1px;
  background: #ffffff;
}
.container-productos {
  padding: 20px;
}

.hero-img {
  animation: blur-in 2s ease-in-out;
  animation-name: show-hero;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dvvhnrvav/image/upload/v1730134285/images-AR/ztq3dpdi1uptc9xxwnjo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: sticky;
  background-position: right;
  width: 100%;
  height: 400px;
  /* &:hover {
    background-size: 150%; /* Aumenta el tamaño para recortar */
  /* background-position: center center; */
}

.imagen-logo {
  max-width: 35%;
  /* } */
}
.text-anuncio {
  /* border: dashed yellow; */

  /* border: dashed yellow; */
  margin-right: 10px;
  /* width: 30%; */
  p.nombre {
    font-size: 60px;
    font-family: "Passion One", display;
    color: rgb(56, 58, 46);
  }
  p.info {
    font-size: 50px;
    cursor: pointer;
    font-family: "Sacramento", handwriting;

    &:hover {
      color: dodgerblue;
    }
  }
}

.text-info {
  font-size: 28px;
  color: rgb(56, 58, 46);
}
p {
  color: rgb(91, 95, 61);
}

.hide-hero-img {
  background-image: none;
}
.hero-img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #fff8ee;
  margin: 0;
}

/* !hacer responsive */
.text {
  /* border: dashed rebeccapurple; */
  margin-left: 50px;
  margin-right: 300px;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  margin-top: 20px;
  margin-left: 50px;
}

.producto-card {
  backdrop-filter: blur(1px);
  /* border: dashed lawngreen; */
  border: 1px solid #e4e4e4;
  padding-bottom: 16px;
  /* padding: 16px; */
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(136, 136, 136, 0.1);
  max-width: 200px;
  margin-bottom: 20px;
  background: #ffffff;

  /* background-color: rgba(255, 252, 247, 0.472); */
  &:hover {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.p-card {
  border: dashed;
  width: 220px; /* Ajusta el tamaño de la tarjeta según sea necesario */
}

.header-content {
  text-align: center;
}

.product-content {
  text-align: center;
  padding: 10px;
  /* border: dashed rgb(207, 204, 117); */
}

.product-image img {
  width: 100%;
  height: 300px;
  /* border: dashed red; */
  margin-bottom: 16px;
  border-bottom: #e4e4e4 solid 1px;
}

.cards {
  display: flex;
  flex-direction: row;
  /* border: dashed; */
  /* gap: 50px; */
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  /* padding: 20px; */
  /* margin-inline: 0vw; */
  /* padding-inline: 5vw; */
  h2 {
    color: #374151;
  }
  .card {
    color: #6b7280;

    max-width: 310px;
    height: 140px;

    backdrop-filter: blur(1px);
    border-radius: 8px;
    border: 1px solid rgb(228, 223, 233);
    background: #ffffff;

    padding: 0.5rem 1rem;
    /* border: dashed; */
    /* width: 400px; */
    /* height: 150px; */
    /* padding: 20px; */
    flex-wrap: wrap;
  }
}
.cards-info {
  display: flex;
  flex-direction: row;
  /* border: dashed; */
  /* gap: 50px; */
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  /* padding: 20px; */
  /* margin-inline: 0vw; */
  /* padding-inline: 5vw; */

  .card {
    color: #6b7280;
    background: #ffffff;
    border: #e4e4e4 solid 1px;
    h2 {
      color: #374151;
    }
    img {
      align-items: center;
      border-radius: 50px;
      width: 50px;
    }
    max-width: 310px;
    /* height: 180px; */
    /* background-color: transparent; */
    /* border: dashed; */
    /* width: 400px; */
    /* height: 150px; */
    padding: 20px;
    flex-wrap: wrap;
  }
}

/* ajustes responsives */
@media (max-width: 600px) {
  .productos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0px;
  }
  .container-productos {
    padding: 0;
    margin: 0;
  }

  .producto-card {
    padding-bottom: 0px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(136, 136, 136, 0.1);
    width: 175px;
    margin-bottom: 20px;
    background: #ffffff;

    &:hover {
      background-color: #ffffff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .hero-img {
    animation: blur-in 2s ease-in-out;
    animation-name: show-hero;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/dvvhnrvav/image/upload/v1730134285/images-AR/ztq3dpdi1uptc9xxwnjo.jpg");
    background-size: 100%; /* Aumenta el tamaño para recortar */
    background-repeat: no-repeat;
    background-position: center center;
    position: sticky;
    width: 100%;
    height: 300px;
    border-radius: 5% ;
    .text {
      background-color: #ffffff37;
      backdrop-filter: blur(2px);
      padding: 2%;
      margin-left: 0;
      margin-right: 0;
      max-width: 1500px;
      color: #e4e4e4;
      .imagen-logo {
        /* display: 
        ; */
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
 /* position: relative; */
        align-items: center;
        justify-content: center;
        max-width: 55%;
      }
    }
    .imagen-logo {
      /* display: none; */
    }
    .text-info {
    }
  }

  .cards {
    display: none;
    /* flex-direction: column;
    gap: 10px;
    margin-top: 10px;
     */
  }

  .cards-info {
    display: none;
  }
}

@keyframes show-hero {
  from {
    opacity: 0;
    /* transform: scale(1.40); */
    filter: blur(2px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}
