<p class="header-text">¡Registro de Política!</p>
<div class="form-container">
  <h2 class="form-title">Registrar Nueva Política</h2>
  <form [formGroup]="nuevaPoliticaForm" (ngSubmit)="onSubmit()">
    <!-- Campo para el Título -->
    <div class="form-group">
      <label for="titulo">Título</label>
      <input
        type="text"
        id="titulo"
        formControlName="titulo"
        placeholder="Ingresa el título de la política"
        class="form-control"
      />
      <div *ngIf="nuevaPoliticaForm.get('titulo')?.invalid && nuevaPoliticaForm.get('titulo')?.touched" class="error">
        El título es requerido.
      </div>
    </div>

    <!-- Campo para el Contenido -->
    <div class="form-group">
      <label for="contenido">Contenido</label>
      <textarea
      required
        id="contenido"
        formControlName="contenido"
        placeholder="Ingresa el contenido de la política"
        class="form-control textarea-control"
        rows="5"
      ></textarea>
      <!-- <div *ngIf="nuevaPoliticaForm.get('contenido')?.invalid && nuevaPoliticaForm.get('contenido')?.touched" class="error">
        El contenido es requerido.
      </div> -->

      <br>
      <div *ngIf="nuevaPoliticaForm.get('contenido')?.hasError('invalidCharacters') && nuevaPoliticaForm.get('contenido')?.touched" class="error">
        El contenido no debe contener caracteres no permitidos.
      </div>
    </div>

    <!-- Campo para la Vigencia -->
    <div class="form-group">
      <label for="fechaVigencia">Vigencia</label>
      <input
        type="date"
        id="fechaVigencia"
        formControlName="fechaVigencia"
        class="form-control"
      />
      <div *ngIf="nuevaPoliticaForm.get('fechaVigencia')?.invalid && nuevaPoliticaForm.get('fechaVigencia')?.touched" class="error">
        La vigencia es requerida.
      </div>
    </div>

    <!-- Botón de Enviar -->
    <button type="submit" class="btn btn-primary" [disabled]="nuevaPoliticaForm.invalid">
      Registrar Política
    </button>
  </form>
</div>
