/* Container */
.container,
.container2 {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;

  // border: 1px solid #ccc;
  border-radius: 5px;
  text-align: start;
  // background: #fcfcfc;
  // box-shadow: 0 10px 10px rgba(165, 165, 165, 0.911);
}

.info-forgott img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: -50px;
  border-radius: 30px;
}

// h1 {
//   text-align: center;
// }
h5{
  color:#455164;
}
/* Recovery Form */
.recovery-form {
  display: flex;
  flex-direction: column;
}

.option-section {
  display: flex;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  border: solid 1px #fbc0c0;
  // align-items: center;
  margin-bottom: 14px;
  // box-shadow: 0 5px 5px #ffefceac;
}

.option-section label {
  display: flex;
  align-items: center;
  // flex-direction: row;
}

.option-section input[type="radio"] {
  margin-inline-start: auto;
}

.option-section label i {
  font-size: 20px;
  border-radius: 50px;
  margin-right: 5px;
}

i {
  font-size: 20px;
  -webkit-text-stroke: 1px rgb(255, 173, 115);
  background-color: rgba(251, 192, 192, 0.423);
  padding: 11px;
  width: 55px;
  height: 43px;
  color: transparent;
}

.option-section:hover {
  background: #f6ffcf;
}

/* Submit Button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #6095db;
  border: solid #000000 1px;
  color: black;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background: #ffe4ad;
  border: solid #09839e 1px;
  color: #09839e;
}

/* Formulario de correo */
h2 {
  // text-align: cent<er;
  margin-bottom: 20px;
}

form {
  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .radio-group {
    display: flex;
    align-items: center;

    input[type="radio"] {
      margin-right: 10px;
    }
  }
}

/* Código input */
#codigo {
  width: 100%;
}

/* Responsividad */
@media (max-width: 768px) {
  .container,
  .container2 {
    max-width: 90%;
    padding: 15px;
  }

  .info-forgott img {
    width: 80%;
    margin-top: -50px;
  }

  .option-section {
    flex-direction: row;
    text-align: center;
    padding: 15px;
    border: dashed red;
  }

  .option-section input[type="radio"] {
    margin-inline-start: auto;
    margin-top: 10px;
  }

  button[type="submit"] {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .option-section {
    height: auto;
    // padding: 10px;
  }

  i {
    font-size: 18px;
    padding: 8px;
    width: 45px;
    height: 35px;
  }

  button[type="submit"] {
    padding: 8px;
    font-size: 12px;
  }
}
