div.container-form {
  margin: 0 auto; /* Centramos el contenedor */
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; /* Asegura que el formulario se centre verticalmente */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Estándar */

  .back-button {
    align-self: flex-start;
    margin-bottom: 20px;

    a.go-back {
      text-decoration: none;
      color: #e91e63;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 50px;

      i {
        margin-right: 8px; /* Espacio entre el icono y el texto */
      }

      &:hover {
        background-color: #e7e7e7;
      }
    }
  }

  > form.form {
    padding: 30px;
    width: 50%; /* Ajuste del ancho del formulario */
    display: flex;
    flex-direction: column;
    // border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff; /* Fondo blanco para mejor visibilidad */

    label {
      font-size: 24px;
      color: rgb(41, 45, 52);
      font-weight: bold;
    }

    input {
      padding: 22px;
      width: 100%; /* Ajuste a 100% del ancho del contenedor */
      margin-bottom: 20px; /* Espacio entre los inputs */
      height: 48px;
      border: solid 2px #ededed;
      border-radius: 3px;
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        border-color: #e91e63;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ff83ad; /* Fucsia para el enfoque */
      }
    }

    button {
      margin-top: 20px;
      padding: 10px;
      width: 100%; /* Ocupa el 100% del contenedor */
      height: 40px;
      background-color: #e91e63;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #a40c3f;
      }
    }

    .options {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%; /* Se adapta al ancho del formulario */

      a {
        color: #e91e63;
        text-decoration: none;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* Media Queries para hacerlo responsivo */
  @media (max-width: 768px) {
    > form.form {
      width: 90%; /* Ancho más grande en pantallas medianas */
    }
  }

  @media (max-width: 480px) {
    > form.form {
      width: 100%; /* Ancho completo en pantallas pequeñas */
      padding: 30px;
      label {
        font-size: 18px;
      }

      input {
        padding: 15px;
        font-size: 14px;
      }

      button {
        padding: 15px;
        font-size: 16px;
      }

      .options {
        flex-direction: column; /* Alinea las opciones verticalmente */
        align-items: flex-start;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.btn {
  padding: 10px 20px;
  background-color: #e7e7e7;

  color: fuchsia;

  border: none;
  border-radius: 50px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
