<!-- Selección del método de recuperación -->
<div *ngIf="!formularioEnviado" class="container2">
  <h1>Método de recuperación</h1>
  <form (ngSubmit)="seleccion()" [formGroup]="frmSeleccionMetodoRecuperacion" class="recovery-form">
    <div class="option-section">
      <label for="email-option"><i class="fa fa-envelope"></i>por Correo Electrónico</label>
      <input type="radio" formControlName="opcion" value="correo" id="email-option" checked>
    </div>
    <div class="option-section">
      <label for="pregunta-option"><i class="fa fa-circle-question"></i> Restablecer por pregunta secreta</label>
      <input type="radio" formControlName="opcion" value="pregunta" id="pregunta-option">
    </div>
    <div class="option-section">
      <label for="whatsapp-option"><i class="fa fa-circle-question"></i> Enviar codigo por whatsapp</label>
      <input type="radio" formControlName="opcion" value="whatsapp" id="whatsapp-option">
    </div>
    <button type="submit">Enviar Enlace</button>
  </form>
</div>

<!-- Opción de restablecimiento por correo -->
<div *ngIf="esFrmCorreo" class="container2">
  <h2>Recuperación de cuenta</h2>
  <h1>Dirección de correo eléctronico </h1>
  <h5>Ingresa tu correo y sigue las instrucciones para restablecer tu contraseña</h5>
  <form [formGroup]="frmbuscarCorreo" (ngSubmit)="enviarYbuscarCorreo()" method="post">
    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input formControlName="correo" type="email" id="email">
    </div>
    <button type="submit">Continuar</button>
  </form>
</div>

<!-- Proceso de verificación de código -->
<div *ngIf="esfrmVerficacion" class="container2">
  <h2>Obtén la verificación en tu correo</h2>
  <h5>Para fines de seguridad, ingresa el código que hemos enviado a <strong>{{ frmbuscarCorreo.get('correo')?.value }}</strong> a continuación.</h5>
  <form [formGroup]="frmVerificacion" (ngSubmit)="verficarCodigo()" method="post">
    <div class="form-group">
      <label for="codigo">Código de verificación</label>
      <input pInputText id="codigo" formControlName="codigo" aria-describedby="codigo-help" [(ngModel)]="value" />
      <small id="codigo-help">Introduce tu código para restablecer tu contraseña.</small>
    </div>
    <button type="submit">Verificar</button>
  </form>
</div>

<!-- Opción de restablecimiento por pregunta secreta -->
<div *ngIf="esFrmPregunta" class="container2">
  <h2>Recuperar Contraseña por Pregunta Secreta</h2>
  <h5>Responde a la pregunta secreta para restablecer tu contraseña</h5>
  <form [formGroup]="frmPregunta" (ngSubmit)="enviarRespuesta()" method="post">
    <div class="form-group">
      <label for="inputState">Selecciona una pregunta</label>
      <select formControlName="pregunta" id="inputState" class="form-control">
        <option selected>Selecciona...</option>
        <option *ngFor="let preguntaItem of preguntas" [value]="preguntaItem.value">{{ preguntaItem.label }}</option>
      </select>
      <label for="respuesta">Ingresa tu respuesta:</label>
      <input formControlName="respuesta" type="text" id="respuesta" required>
    </div>
    <button type="submit">Continuar</button>
  </form>
</div>

<!-- Formulario para resetear la contraseña -->
<div *ngIf="esFrmResetPassword" class="container2">
  <h2>Actualiza tu Contraseña</h2>
  <h5>Crea una nueva contraseña segura</h5>
  <form [formGroup]="frmActualizaPassword" (ngSubmit)="actualizarPassword()" method="post">
    <div class="form-group">
      <label for="nueva">Nueva Contraseña</label>
      <input formControlName="nueva" type="password" id="nueva">
      <label for="confirma">Confirmar Contraseña</label>
      <input formControlName="confirma" type="password" id="confirma">
    </div>
    <button type="submit">Restablecer Contraseña</button>
  </form>
</div>
