<!-- Opción de restablecimiento por correo -->
<div *ngIf="esFrmCorreo" class="container2">
  <h1>Recuperación de cuenta</h1>
  <h2>Dirección de correo eléctronico</h2>
  <h5>
    Ingresa tu correo y sigue las instrucciones para restablecer tu contraseña
  </h5>
  <form
    [formGroup]="frmbuscarCorreo"
    (ngSubmit)="enviarYbuscarCorreo()"
    method="post"
  >
    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      required formControlName="email" type="email" id="email" />
    </div>
    <p-button *ngIf="!isLoading" [disabled]="frmbuscarCorreo.invalid " iconPos="right" label="Enviar correo" type="submit">
    </p-button>
    <button disabled  *ngIf="isLoading" class="ui loading button">Loading</button>

  </form>
</div>

<!-- Proceso de verificación de código -->
<div *ngIf="esfrmVerficacion" class="container2">
  <h2>Obtén la verificación en tu correo</h2>
  <h5>
    Para fines de seguridad, ingresa el código que hemos enviado a:
    <strong>{{ frmbuscarCorreo.get('email')?.value }}</strong>
  </h5>
  <form
    [formGroup]="frmVerificacion"
    (ngSubmit)="verficarCodigo()"
    method="post"
  >
    <div class="form-group">
      <label for="codigo">Código de verificación</label>
      <p-inputOtp formControlName="codigo" name="otpCode"></p-inputOtp>

      <small id="codigo-help"
        >Introduce tu código para restablecer tu contraseña.</small
      >
    </div>
    <button *ngIf="!isLoading" type="submit">Verificar</button>
    <button disabled *ngIf="isLoading" class="ui loading button">Loading</button>

  </form>
</div>

<!-- Formulario para resetear la contraseña -->
<div *ngIf="esFrmResetPassword" class="container2">
  <h2>Actualiza tu Contraseña</h2>
  <h5>Crea una nueva contraseña segura</h5>
  <form
    [formGroup]="frmActualizaPassword"
    (ngSubmit)="actualizarPasswordxCorreo()"
    method="post"
  >
    <div class="form-group">
      <label for="nueva">Nueva Contraseña</label>

      <p-password
        formControlName="nueva"
        placeholder="Introduce tu contraseña"
        [toggleMask]="true"
        [feedback]="false"
        [maxLength]="16"
        (input)="verificarPassword()"
      ></p-password>
      <div>
        <ul class="pass-req" *ngIf="faltantes && faltantes.length > 0">
          <li *ngFor="let item of faltantes">{{ item }}</li>
        </ul>
      </div>

      <label for="confirma">Confirmar Contraseña</label>
      <p-password
        formControlName="confirma"
        placeholder="Confirma tu contraseña"
        [toggleMask]="true"
        [feedback]="false"
        [maxLength]="16"
        (input)="verificarCoincidencia()"
      ></p-password>
    </div>
    <span *ngIf="!coincidenPasswords" class="text-danger">
      Las contraseñas no coinciden.
    </span>
    <p-button *ngIf="!isLoading"
      [disabled]="this.faltantes.length != 0 ||frmActualizaPassword.invalid || !coincidenPasswords"
      iconPos="right"
      label="Restablecer Contraseña"
      type="submit"
    >
    </p-button>
    <button disabled *ngIf="isLoading" class="ui loading button">Loading</button>

  </form>
</div>
