h2{
    font-size: 2rem; /* Tamaño de fuente del título */
    color: #333333; /* Color del texto oscuro */
    margin-bottom: 20px; /* Margen inferior */
    text-align: center; /* Centrar el título */
    font-weight: bold; /* Texto en negrita */
}